.tabla {
    padding: 0px 0px 16px 0px;
    text-align: left;
    width: 185px;
}

.tabla-icon {
    width: 25px;
    vertical-align: baseline;
    text-align: left;
}

h6 {
    margin: 0px;
}

.cart-container {
    margin-top: 99px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

h2 {
    margin: 0px 0px 16px 0px;
}

.detailcart-text {
    font-weight: lighter;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
}

.eliminar {
    padding: 4px 6px 0px 6px;
    border: 0px;
    background-color: white;
    cursor: pointer;
}

.eliminar:hover {
    border: 1px solid red;
    border-radius: 5px;
}

.eliminar-bolsa {
    width: fit-content;
    padding-bottom: 16px;
}

.eliminar-bolsa-btn {
    border: 0px;
    background-color: white;
    cursor: pointer;
    padding: 0px;
    font-size: 1em;
}

.eliminar-bolsa-btn:hover {
    padding: 4px 6px 0px 6px;
    border: 1px solid red;
    border-radius: 5px;
}