.order-container {
    margin-top: 90px;
}

.order-box {
    display: flex;
    padding: 0px 0px 16px 0px;
}

.order-text {
    text-align: left;
    font-weight: bold;
    width: 200px;
    margin: 0px;
}
