.box-container {
    margin-top: 90px;
}

.table {
    text-align: left;
    border-collapse: collapse;
}

.table-title {
    width: 185px;
    padding-bottom: 16px;
}

.detail-cart-text {
    display: inline-block;
    align-items: center;
    font-weight: lighter;
    font-size: 1em;
    text-align: left;
    width: 185px;
    margin: 0px;
}

.remove-item {
    margin: 0px;
    padding: 2px 5px 0px 5px;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.remove-item:hover {
    border: 1px solid red;
}

.remove-icon {
    vertical-align: baseline;
    width: 25px;
}

.total-cart-text {
    font-weight: lighter;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    width: 185px;
    text-align: left;
    padding: 0px 0px 16px 0px;
}

.checkout-btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px 15px;
    color: rgb(35, 35, 35);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background-color: white;
}

.checkout-btn:hover {
    text-decoration: underline;
}

.checkout-btn:active {
    color: rgb(35, 35, 35);
}

.remove-cart {
    width: fit-content;
    display: inline-block;
    margin: 5px 15px;
    padding: 5px 15px;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 5px;
}

.remove-cart-btn {
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    border: 0px;
    padding: 0px;
}

.remove-cart:hover {
    border: 1px solid red;
}

h2 {
    margin: 0px 0px 16px 0px;
}