.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    margin-bottom: 0px;
    text-decoration: none;
    color: rgb(35, 35, 35);
    font-size: large;
    padding: 0px 30px;
}

.menu-btn {
    padding: 0px 15px;
    margin: 0px 15px;
    color: rgb(35, 35, 35);
    cursor: pointer;
    text-decoration: none;
    border: 0px;
    background-color: rgb(234, 238, 234);
}

.nav-bar-icon {
    width: 25px;
    vertical-align: baseline;
}

.menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 0px 15px;
    margin: 0px 15px;
    color: rgb(35, 35, 35);
    cursor: pointer;
    text-decoration: none;
    border: 0px;
    background-color: rgb(234, 238, 234);
}

.btn:hover {
    text-decoration: underline;
}

.btn:active {
    color: rgb(35, 35, 35);
}

@media (max-width: 425px) {
    .menu-items {
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}