.btn {
    padding: 5px 15px;
    margin: 5px 15px;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.btn:hover {
    text-decoration: underline;
}

.logo {
    display: block;
    font-weight: bold;
    padding-left: 0.5em;
    margin-bottom: 0px;
}

.navBar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}