.btn {
    padding: 5px 15px;
    margin: 5px 15px;
    color: rgb(35, 35, 35);
    cursor: pointer;
}

.btn:hover {
    text-decoration: underline;
}

.logo {
    left: 0.4em;
    padding: 0.25em;
    font-weight: bold;
}

.navBar {
    display: flex;
    flex-direction: row;
}