.App {
  text-align: center;
}

.header {
  background-color: rgb(234, 238, 234);
}

.container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
